<script type="text/javascript" src="/static/js/admin/projects-table.js"></script>

<div class="admin-search">
    <input id="projectTableSearchQuery" type="text" placeholder="e.g. Electrical issues" />
    <input id="projectTableSearch" type="button" value="Search" />
</div>

<div class="spacer sm"></div>

<table id="projectTable" class="admin-table"></table>

<div class="spacer sm"></div>

<p style="text-align: right;">
    <a id="projectTableRefresh" href="/admin/projects">Refresh</a>
    <a id="projectTableMore" href="javascript:void(0);">Load More</a>
</p>