<script type="text/javascript" src="/static/js/admin/users-table.js"></script>

<div class="admin-search">
    <input id="userTableSearchQuery" type="text" placeholder="e.g. Marcus Longwell is Awesome" />
    <input id="userTableSearch" type="button" value="Search" />
</div>

<div class="spacer sm"></div>

<table id="userTable" class="admin-table"></table>

<div class="spacer sm"></div>

<p style="text-align: right;">
    <a id="userTableRefresh" href="/admin/sellers">Refresh</a>
    <a id="userTableMore" href="javascript:void(0);">Load More</a>
</p>