<script type="text/javascript" src="/static/js/admin/holla.js"></script>

<h1>Holla</h1>

<p>When our users do stuff, we'll holla at you right here.</p>

<div class="admin-search">
    <input id="hollaTableSearchQuery" type="text" placeholder="e.g. Marcus Longwell is Awesome" />
    <input id="hollaTableSearch" type="button" value="Search" />
</div>

<div class="spacer sm"></div>

<table id="hollaTable" class="admin-table"></table>

<div class="spacer sm"></div>

<p style="text-align: right;">
    <a id="hollaTableRefresh" href="/admin/holla">Refresh</a>
    <a id="hollaTableMore" href="javascript:void(0);">Load More</a>
</p>