<script type="text/javascript" src="/static/js/admin/tickets.js"></script>

<h1>Tickets</h1>

<div class="admin-search">
    <input id="ticketTableSearchQuery" type="text" placeholder="e.g. Marcus Longwell is Awesome" />
    <input id="ticketTableSearch" type="button" value="Search" />
</div>

<div class="spacer sm"></div>

<table id="ticketTable" class="admin-table"></table>

<div class="spacer sm"></div>

<p style="text-align: right;">
    <a id="ticketTableRefresh" href="/admin/tickets">Refresh</a>
    <a id="ticketTableMore" href="javascript:void(0);">Load More</a>
</p>