
<div class="view-buyer-profile">
        <div class="toprow">
            <div class="picside">
            <div class="pic"><div class="picframe"></div></div>
            <div class="favorite-message">
                <div class="favorite"><a href="javascript:void(0);">+ Favorite</a></div>
                <div class="message"><div class="icon"></div></div>
            </div><!-- .favorite-message -->
            </div><!-- .picside -->
            <div class="infoside">
            <div class="buyername">Mathew Buyer</div>
            <div class="buyerinfo">
                <div class="info-row">
                    <div class="info-col"><div class="txt strong">Location: </div></div>
                    <div class="info-col"><div class="txt">Sample, Location</div></div>
                </div><!-- .row -->
                <div class="info-row">
                    <div class="info-col"><div class="txt strong">Language(s): </div></div>
                    <div class="info-col"><div class="txt">English &amp; Spanish</div></div>
                </div><!-- .row -->
                <div class="info-row">
                    <div class="info-col"><div class="txt">Mobile Mechanics</div></div>
                </div><!-- .row -->
                <div class="info-row">
                    <div class="info-col"><div class="txt">120 Day Warranty</div></div>
                </div><!-- .row -->
            </div><!-- .mechinfo -->
            </div><!-- .infoside -->
        </div><!-- .toprow -->

        <div class="projects">
            <div class="heading underlined"><h2>Completed Jobs (24)</h2></div>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr class="colnames">
                    <td class="mobile-priority-2">&nbsp;</td>
                    <td class="mobile-priority-1">Job Name</td>
                    <td class="mobile-priority-1">Rating of Mechanic</td>
                    <td>Review</td>
                </tr>
                <tr>
                    <td class="mobile-priority-2"><a class="btn" href="javascript:void(0);">View</a></td>
                    <td class="mobile-priority-1">1995 dodge intrepid</td>
                    <td class="mobile-priority-1">
                        <div class="rating">
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench"></div>
                            <div class="wrench"></div>
                        </div><!-- .rating -->
                    </td>
                    <td>
                        <div class="review">
                            <div class="customer">Customer: Username</div>
                            <div class="reviewtxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend imperdiet placerat. Suspendisse potenti. Sed aliquet, nisl eu rutrum suscipit, mauris ipsum mattis nulla, a iaculis purus erat nec dolor. Nulla ac feugiat diam, vel tempus metus. Sed interdum tincidunt metus, eget porta nunc iaculis et. Nunc sed mauris quis elit imperdiet suscipit. Sed aliquet et nisl ac venenatis. Morbi pulvinar vel nunc in sollicitudin. Ut vel tristique nisl. Morbi a nibh finibus, malesuada eros sit amet, elementum odio.</div>
                        </div><!-- .rating -->
                    </td>
                </tr>
                <tr>
                    <td class="mobile-priority-2"><a class="btn" href="javascript:void(0);">View</a></td>
                    <td class="mobile-priority-1">2001 Mitsubishi I303</td>
                    <td class="mobile-priority-1">
                        <div class="rating">
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench"></div>
                        </div><!-- .rating -->
                    </td>
                    <td>
                        <div class="review">
                            <div class="customer">Customer: Username</div>
                            <div class="reviewtxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend imperdiet placerat. Suspendisse potenti. Sed aliquet, nisl eu rutrum suscipit, mauris ipsum mattis nulla, a iaculis purus erat nec dolor. Nulla ac feugiat diam, vel tempus metus. Sed interdum tincidunt metus, eget porta nunc iaculis et. Nunc sed mauris quis elit imperdiet suscipit. Sed aliquet et nisl ac venenatis. Morbi pulvinar vel nunc in sollicitudin. Ut vel tristique nisl. Morbi a nibh finibus, malesuada eros sit amet, elementum odio.</div>
                        </div><!-- .rating -->
                    </td>
                </tr
                <tr>
                    <td class="mobile-priority-2"><a class="btn" href="javascript:void(0);">View</a></td>
                    <td class="mobile-priority-1">1995 dodge intrepid</td>
                    <td class="mobile-priority-1">
                        <div class="rating">
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                        </div><!-- .rating -->
                    </td>
                    <td>
                        <div class="review">
                            <div class="customer">Customer: Username</div>
                            <div class="reviewtxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend imperdiet placerat. Suspendisse potenti. Sed aliquet, nisl eu rutrum suscipit, mauris ipsum mattis nulla, a iaculis purus erat nec dolor. Nulla ac feugiat diam, vel tempus metus. Sed interdum tincidunt metus, eget porta nunc iaculis et. Nunc sed mauris quis elit imperdiet suscipit. Sed aliquet et nisl ac venenatis. Morbi pulvinar vel nunc in sollicitudin. Ut vel tristique nisl. Morbi a nibh finibus, malesuada eros sit amet, elementum odio.</div>
                        </div><!-- .rating -->
                    </td>
                </tr>
            </table>
        </div><!-- .projects -->
</div><!-- .view-buyer-profile -->
