<div class="view-mechanic-profile">

        <div class="toprow">
            <div class="picside">
            <div class="pic"><div class="picframe"></div></div>
            <div class="favorite-message">
                <div class="favorite"><a href="javascript:void(0);">+ Favorite</a></div>
                <div class="message"><div class="icon"></div></div>
            </div><!-- .favorite-message -->
            </div><!-- .picside -->
            <div class="infoside">
            <div class="mechname">Mathew Landen</div>
            <div class="mechinfo">
                <div class="info-row">
                    <div class="info-col"><div class="txt strong">Experience: </div></div>
                    <div class="info-col"><div class="txt">15 Years</div></div>
                </div><!-- .row -->
                <div class="info-row">
                    <div class="info-col"><div class="txt strong">Certification: </div></div>
                    <div class="info-col"><div class="txt">Ace Master Mechanic</div></div>
                </div><!-- .row -->
                <div class="info-row">
                    <div class="info-col"><div class="txt strong">Insured: </div></div>
                    <div class="info-col"><div class="txt">Yes</div></div>
                </div><!-- .row -->
                <div class="info-row">
                    <div class="info-col"><div class="txt strong">Language(s): </div></div>
                    <div class="info-col"><div class="txt">English &amp; Spanish</div></div>
                </div><!-- .row -->
            </div><!-- .mechinfo -->
            </div><!-- .infoside -->
        </div><!-- .toprow -->
        <div class="hours-experience">
            <div class="hours">
                <div class="heading underlined"><h2>Hours of Operation</h2></div>
                <table class="override-mobile-priority" width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr class="colnames">
                        <td>Day of Week</td>
                        <td>Opening</td>
                        <td>Closing</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td colspan="2">OPEN 24 HOURS</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>8:00am</td>
                        <td>8:00pm</td>
                    </tr>
                    <tr>
                        <td>Tuesda</td>
                        <td>8:00am</td>
                        <td>8:00pm</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>8:00am</td>
                        <td>8:00pm</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td colspan="2">OPEN 24 HOURS</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>8:00am</td>
                        <td>8:00pm</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td colspan="2">CLOSED</td>
                    </tr>
                </table>
            </div><!-- .hours -->
            <div class="experience">
                <div class="heading underlined"><h2>Experience</h2></div>
                <div class="list">Mercedes-Benz, Volvo, Toyota, Volkswagen, Ford, Nissan, Hyundai</div>

                <div class="heading topspaced underlined"><h2>Specialization</h2></div>
                <div class="specialization">
                    <div class="cell"><div class="color blue"></div><div class="txt">Auto repair</div></div>
                    <div class="cell"><div class="color blue"></div><div class="txt">Auto repair</div></div>
                    <div class="cell"><div class="color green"></div><div class="txt">Auto body</div></div>
                    <div class="cell"><div class="color tan"></div><div class="txt">Restoration jobs</div></div>
                    <div class="cell"><div class="color tan"></div><div class="txt">Restoration jobs</div></div>
                    <div class="cell"><div class="color red"></div><div class="txt">Roadside assistance</div></div>
                </div><!-- .specialization -->

                <div class="heading topspaced underlined"><h2>Mechanic Info</h2></div>
                <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend imperdiet placerat. Suspendisse potenti. Sed aliquet, nisl eu rutrum suscipit, mauris ipsum mattis nulla, a iaculis purus erat nec dolor. Nulla ac feugiat diam, vel tempus metus. Sed interdum tincidunt metus, eget porta nunc iaculis et. Nunc sed mauris quis elit imperdiet suscipit. Sed aliquet et nisl ac venenatis. Morbi pulvinar vel nunc in sollicitudin.</div>
                <div class="hirebutton"><a href="javascript:void(0);">Hire Mathew Landen</a></div>
            </div><!-- .experience -->
        </div><!-- .hours-experience -->
        <div class="photos">
            <div class="heading underlined"><h2>Mechanic Photos</h2></div>
            <div class="photos-line">
                <div class="photo" style="background-image: url(http://www.drivingfutures.com/wp-content/uploads/2013/11/the-car.png);"></div>
                <div class="photo" style="background-image: url(http://www.drivingfutures.com/wp-content/uploads/2013/11/the-car.png);"></div>
                <div class="photo" style="background-image: url(http://www.drivingfutures.com/wp-content/uploads/2013/11/the-car.png);"></div>
                <div class="photo" style="background-image: url(http://www.drivingfutures.com/wp-content/uploads/2013/11/the-car.png);"></div>
                <div class="photo" style="background-image: url(http://www.drivingfutures.com/wp-content/uploads/2013/11/the-car.png);"></div>
                <div class="photo" style="background-image: url(http://www.drivingfutures.com/wp-content/uploads/2013/11/the-car.png);"></div>
                <div class="photo" style="background-image: url(http://www.drivingfutures.com/wp-content/uploads/2013/11/the-car.png);"></div>
            </div><!-- .photos-line -->
        </div><!-- .photos -->

        <div class="projects">
            <div class="heading underlined"><h2>Completed Jobs (24)</h2></div>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr class="colnames">
                    <td class="mobile-priority-2">&nbsp;</td>
                    <td class="mobile-priority-1">Job Name</td>
                    <td class="mobile-priority-1">Rating of Mechanic</td>
                    <td>Review</td>
                </tr>
                <tr>
                    <td class="mobile-priority-2"><a class="btn" href="javascript:void(0);">View</a></td>
                    <td class="mobile-priority-1">1995 dodge intrepid</td>
                    <td class="mobile-priority-1">
                        <div class="rating">
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench"></div>
                            <div class="wrench"></div>
                        </div><!-- .rating -->
                    </td>
                    <td>
                        <div class="review">
                            <div class="customer">Customer: Username</div>
                            <div class="reviewtxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend imperdiet placerat. Suspendisse potenti. Sed aliquet, nisl eu rutrum suscipit, mauris ipsum mattis nulla, a iaculis purus erat nec dolor. Nulla ac feugiat diam, vel tempus metus. Sed interdum tincidunt metus, eget porta nunc iaculis et. Nunc sed mauris quis elit imperdiet suscipit. Sed aliquet et nisl ac venenatis. Morbi pulvinar vel nunc in sollicitudin. Ut vel tristique nisl. Morbi a nibh finibus, malesuada eros sit amet, elementum odio.</div>
                        </div><!-- .rating -->
                    </td>
                </tr>
                <tr>
                    <td class="mobile-priority-2"><a class="btn" href="javascript:void(0);">View</a></td>
                    <td class="mobile-priority-1">2001 Mitsubishi I303</td>
                    <td class="mobile-priority-1">
                        <div class="rating">
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench"></div>
                        </div><!-- .rating -->
                    </td>
                    <td>
                        <div class="review">
                            <div class="customer">Customer: Username</div>
                            <div class="reviewtxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend imperdiet placerat. Suspendisse potenti. Sed aliquet, nisl eu rutrum suscipit, mauris ipsum mattis nulla, a iaculis purus erat nec dolor. Nulla ac feugiat diam, vel tempus metus. Sed interdum tincidunt metus, eget porta nunc iaculis et. Nunc sed mauris quis elit imperdiet suscipit. Sed aliquet et nisl ac venenatis. Morbi pulvinar vel nunc in sollicitudin. Ut vel tristique nisl. Morbi a nibh finibus, malesuada eros sit amet, elementum odio.</div>
                        </div><!-- .rating -->
                    </td>
                </tr
                <tr>
                    <td class="mobile-priority-2"><a class="btn" href="javascript:void(0);">View</a></td>
                    <td class="mobile-priority-1">1995 dodge intrepid</td>
                    <td class="mobile-priority-1">
                        <div class="rating">
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                            <div class="wrench selected"></div>
                        </div><!-- .rating -->
                    </td>
                    <td>
                        <div class="review">
                            <div class="customer">Customer: Username</div>
                            <div class="reviewtxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend imperdiet placerat. Suspendisse potenti. Sed aliquet, nisl eu rutrum suscipit, mauris ipsum mattis nulla, a iaculis purus erat nec dolor. Nulla ac feugiat diam, vel tempus metus. Sed interdum tincidunt metus, eget porta nunc iaculis et. Nunc sed mauris quis elit imperdiet suscipit. Sed aliquet et nisl ac venenatis. Morbi pulvinar vel nunc in sollicitudin. Ut vel tristique nisl. Morbi a nibh finibus, malesuada eros sit amet, elementum odio.</div>
                        </div><!-- .rating -->
                    </td>
                </tr>
            </table>
        </div><!-- .projects -->
</div><!-- .view-mechanic-profile -->
