<div id="hire-confirmation">
    <hr/>
    you will be requesting a release of :<br />
     <h4>{{deccurrency charge.amount}}</h4>
     the Customer {{owner.name}} will be notified of your request, 
    <hr/>
    <form id="form-hire-confirmation" class="form-inline" method="post" action="/api/milestones/{{ _id }}/reqrelease">
        <div class="btn-group">
            <input type="submit" value="Request Release" class="btn btn-success" />
            <button class="btn" id="button-hire-cancel">Cancel</button>
        </div>
        <div class="alert error" style="display: none;">
            There was a problem completing this request.
        </div>
    </form> 
</div>
<script type="text/javascript">
jQuery(function($) {
    $('#button-hire-cancel').click(function() {
        // NOTE: would be lovely to target just this popover
        $('*[rel=popover][data-load]').popover('hide');
        return false;
    });
    $('#form-hire-confirmation').validate({
        submitHandler: function(form) {
            form = $(form);
            form.ajaxSubmit({
                success: function (data) {
                    window.location = '/projects/' + {{project.number}};
                    
                },
                error: function (xhr, err) {
                    form.find('.alert-error').show(); 
                },
                complete: function() {
                    form.find(':input:not(:submit)').removeAttr('disabled');
                    form.find(':submit').button('reset');
                }
            });
            form.find('.alert').hide();
            form.find(':input:not(:submit)').attr('disabled', 'disabled');
            form.find(':submit').button('loading');
            return false;
        }
    });

});
</script>