<!--Project-Counter -->

<div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 total-users">
                <h1>Total Users</h1>
                <span>{{integer total_users_count}}</span>
            </div>

            <div class="col-xs-12 col-sm-4  total-projects">
                <h1>Total Jobs</h1>
                <span>{{integer total_projects_count}}</span>
            </div>

            <div class="col-xs-12 col-sm-4 total-mechanics">
                <h1>Total Mechanics</h1>
                <span>{{integer total_mechanics_count}}</span>
            </div>
        </div>
    </div>
</div>

<!--Project-Counter-End-->
