<div class="subfooter">
    <div class="inside">
    <div class="category">
        <div class="title"><h2>Follow Us</h2></div>
        <div class="content">
            <div class="social">
                <div class="followus"><p>Follow us on Facebook or Twitter</p></div>
                <div class="icons">
                    <div class="icon facebook"><a href="https://www.facebook.com/mechfinder/" target="_blank"></a></div>
                    <div class="icon twitter"><a href="https://twitter.com/mechfinder" target="_blank"></a></div>
                    <!-- <div class="icon google-plus"><a href="./"></a></div>
                    <div class="icon linkedin"><a href="./"></a></div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="title"><h2>Customers</h2></div>
        <div class="content">
            <div class="general">
                <ul>
                    <li><a href="/customer/info/benefits">Customer Benefits</a></li>
                    <li><a href="/customer/info/howItWorks">Customers: How It Works</a></li>
                    <li><a href="/customer/info/protection">You're Protected</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="title"><h2>Mechanics</h2></div>
        <div class="content">
            <div class="general">
                <ul>
                    <li><a href="/mechanic/info/grow">Mechanic Benefits</a></li>
                    <li><a href="/mechanic/info/howItWorks">Mechanics: How It Works</a></li>
                    <li><a href="/mechanic/info/structure">Fee Breakdown</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="title"><h2>Company</h2></div>
        <div class="content">
            <div class="general">
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/terms">Terms &amp; Conditions</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/faq">FAQs</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>


<div class="footer">
    <div class="inside">
    <div class="copyright"><p>Copyright &copy; MechFinder LLC., 2016</p></div>
    <div class="address"><p><i class="fa fa-map-marker"></i> 7627 N. 22nd St. - Phoenix, AZ 85020</p></div>
    <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=ydDq17CiHx2AGzfbxl1LREpcqCVplQHWGjgihism1p0FLv9h5mc8pq2cNQXw"></script></span>
    <div class="pageup"><a id="back-to-top" href="#container"><img src="{{settings.static_path}}/img/up-to-top.png" alt="Back to Top" /></a></div>
    </div>
</div>

<script>
$(document).ready(function(e) {
    $("a[href='#container']").click(function() {
        $("html, body").animate({ scrollTop: 0 }, 1000);
        return false;
    });
});
</script>
