<div id="mfGallery" class="gallery" style="display: none;">
    <div class="gallery-container mfGalleryContainer">
        <div class="gallery-content">
            <div id="mfGalleryImage" class="image">
                <div class="exit-row"><a id="mfGalleryExit" href="javascript:void(0);">X</a></div>
                <div id="mfGalleryArrowLeft" class="arrow mfGalleryArrow left" data-direction="left"><a href="javascript:void(0);"><i class="fa fa-arrow-left"></i></a></div>
                <div id="mfGalleryArrowRight" class="arrow mfGalleryArrow right" data-direction="right"><a href="javascript:void(0);"><i class="fa fa-arrow-right"></i></a></div>
                <div id="mfGalleryDots" class="dots">
                    <a href="javascript:void(0);"><i class="fa fa-circle"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-circle"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-circle"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-circle"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-circle"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>