<div id="side-menu" class="menu">
    <div class="top"><div id="side-menu-hamburger" class="hamburger"></div></div>
  <div class="item">
    <div class="dashboard">
      <div class="pic"><div class="frame"></div></div>
      <div class="txt">Dashboard</div>
    </div><!-- .dashboard -->
  </div><!-- .item -->
    <div class="item"><div class="icon"><div class="frame find"></div></div><div class="txt"><a href="./">Find Mechanic</a></div></div>
    <div class="item"><div class="icon"><div class="frame post"></div></div><div class="txt"><a href="./">Post Job</a></div></div>
    <div class="item"><div class="icon"><div class="frame projects"></div></div><div class="txt"><a href="./">My Jobs</a></div></div>
    <div class="item"><div class="icon"><div class="frame home"></div></div><div class="txt"><a href="./">Home Page</a></div></div>
</div>
