<div style="height: 10px;"></div>
<table id="social">
    <tr>
        <td><a href="http://www.facebook.com/Mechfinder" id="social-fb"></a></td>
        <td>

            <div class="fb-like" data-href="https://www.facebook.com/mechfinder" data-send="false" data-layout="button_count" data-width="400" data-show-faces="false"></div>
            <div id="fb-root"></div>
            <script>
            window.fbAsyncInit = function() {
                FB.init({appId: '266853860092363', status: true, cookie: false,
                    xfbml: true});
            };
            (function() {
                var e = document.createElement('script'); e.async = true;
                e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
                document.getElementById('fb-root').appendChild(e);
            }());
            </script>
        </td>
    </tr>
    <tr>
        <td><a href="https://twitter.com/i/#!/search/realtime/mechfinder" id="social-tw"></a></td>
        <td>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mechfinder.com/" data-via="httpmechfindercom" data-related="mechfinder" data-hashtags="mechfinder">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </td>
    </tr>
    <tr>
        <td><a href="https://plus.google.com/101966437274129936535/posts" id="social-gp"></a></td>
        <td>
            <!-- Place this tag where you want the share button to render. -->
            <div class="g-plus" data-action="share" data-annotation="bubble"></div>

            <!-- Place this tag after the last share tag. -->
            <script type="text/javascript">
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
            </script>
        </td>
    </tr>
</table>




