<h2>Articles</h2>
<ul>
<li><a href="/articles/common-issues-with-vehicles">Common Issues With Vehicles</a> - Learn the four common issues with vehicles people don’t check. </li>
<li><a href="/articles/what-is-brake-pad">What is a brake pad</a> - View this article to find out all the facts and the history of where the brake pad came from.</li>
<li><a href="/articles/what-to-look-out-for-when-buying-a-used-car">What to Look Out for When Buying a Used Car</a> - Some key pointers to follow when buying a used car.</li>
<li><a href="/articles/how-to-change-brake-pads">How To Change A Brake Pad</a> - Step by step procedure on how to change a brake for dummies.</li>
<li><a href="/articles/how-to-change-spark-plugs-and-wires">How to Change Spark Plugs and Wires</a> - Learn why it is important to change your spark plugs. </li>
<li><a href="/articles/how-to-bleed-your-brakes">How to Bleed Your Brakes</a> - Learn how to bleed your brakes in 20 easy steps and what tools to use. </li>
<li><a href="/articles/how-to-transmission-flush-honda-civic">How to Transmission Flush Honda Civic</a> - View this article to see how to do a transmission flush on a automatic or a manual transmission Honda Civic and what tools are needed. </li>
<li><a href="/articles/looking-for-a-mechanic-in-michigan">Looking For a Mechanic in Michigan</a> - Need a mechanic in Michigan? Find 2 local shops and the history behind the famous automotive state. </li>
<li><a href="/articles/who-is-fredrick-william-lanchester">Who is Fredrick William Lanchester</a> - Who invented the brake pad ? View this article to find out.</li>
<li><a href="/articles/history-of-goodyear">History Of Goodyear</a> - Learn the history of Goodyear and who founded this giant company.</li>
<li><a href="/articles/can-water-be-used-for-your-car-coolant">Can Water Be Used For Your Car Coolant?</a> - Yes, it is possible find out how.</li>
<li><a href="/articles/auto-repair-shops-la">Auto Repair Shops in LA</a> - Learn what are teh best Los Angles California mechanic shops.</li>
<li><a href="/articles/jiffy-lube-scam">Jiffy Lube Scam</a> - Learn what Jiffy Lube was doing to their loyal customers.</li>
<li><a href="/articles/hire-freelance-mechanics-anywhere">Hire Freelance Mechanics Anywhere</a> - View this article and find out why freelance mechanics are being more popular in today’s world.</li>
<li><a href="/articles/what-is-a-chrysler-crown-imperial">What is a Chrysler Crown Imperial</a> - Learn where Chrysler received it’s name and the history of Chrysler.</li>
<li><a href="/articles/my-chevy-is-blowing-transmission-fluid-out-of-breather">My Chevy 4x4 Is Blowing Transmission Fluid Out Of Breather</a> - How can you stop transmission fluid blowing out of the breather learn how.</li>
<li><a href="/articles/how-to-complete-an-oil-change-on-a-ferrari-2003-model">How to complete an oil change on a Ferrari 2003 model</a> - Learn how to change the oil on a super car!</li>
<li><a href="/articles/how-to-safely-dispose-of-used-motor-oil">How To Safely Dispose Of Used Motor Oil</a> - Learn the proper way to dispose of oil.</li>  
<li><a href="/articles/how-to-tell-if-you-need-a-transmission-flush-or-fluid-change">How To Tell If You Need A Transmission Flush Or Fluid Change</a> - Learn to tell if you need a transmission flush or a fluid change.</li> 
<li><a href="/articles/how-to-fix-ford-ranger-stick-shift-that-has-a-transmission-leak">How To Fix Ford Ranger Stick Shift That Has A Transmission Leak</a> - Is your Ford Ranger’s transmission leaking, learn how to fix it here.</li>
<li><a href="/articles/how-to-repair-a-leaking-head-gasket">How To Repair A Leaking Head Gasket 1997 F 150</a> - Step by step guide how to fix a leaking head gasket for a 1997 F 150 truck.</li> 
<li><a href="/articles/what-is-the-laferrari">What Is The LaFerrari</a> - Specs and information on the LaFerrari.</li>
<li><a href="/articles/finding-a-mechanic-online">Finding a Mechanic Online</a> - Learn the best ways in finding a mechanic online.</li>
<li><a href="/articles/let-mechanics-bid-for-your-repair">Let Mechanics Bid For Your Repair</a> - The new way in getting your vehicle fixed.</li>
<li><a href="/articles/i-want-to-hire-a-mechanic">I Want To Hire A Mechanic</a> - Cheap ways when hiring a mechanic.</li>
<li><a href="/articles/find-mobile-mechanics-anywhere">Find Mobile Mechanics Anywhere</a> - Learn where to find mobile mechanics.</li>
<li><a href="/articles/what-is-a-mobile-mechanic">What Is A Mobile Mechanic</a> - The future of the auto industry are mobile mechanics.</li>
<li><a href="/articles/the-future-of-the-auto-industry">The Future Of The Auto Industry Are Mobile Mechanics</a> - Learn why mobile mechanics are the way of the future.</li>
<li><a href="/articles/minnesota-mobile-mechanics">Minnesota Mobile Mechanics</a> - Find the 2 top mobile mechanics in Minnesota.</li>
<li><a href="/articles/los-angeles-mobile-mechanic">Los Angeles Mobile Mechanics</a> - The top 2 mobile mechanics in Los Angeles.</li>
<li><a href="/articles/how-to-remove-acid-rain-stains-from-your-car-windshield">How To Remove Acid Rain Stains From Your Car Windshield</a> - Learn the best method on removing acid rain stains on your windshield for under $10.00!.</li>
<li><a href="/articles/how-to-clean-your-headlights">How To Clean Your Headlights</a> - Learn how to remove that nasty yellow in your headlights for under $10</li>
<li><a href="/articles/how-to-eliminate-oxidation-and-fading-of-auto-paint">How To Eliminate Oxidation And Fading Of Auto Paint</a> - Remove oxidation and fading of car paint jobs for $75.00 so you don't have to get a new paint job.</li>
<li><a href="/articles/how-to-remove-cracks-and-fading-in-leather-car-interior">How To Remove Cracks and Fading In Leather Car Interior</a> - Fix your leather car seats cracks and fading for under $10!</li>
<li><a href="/articles/obd-mx-wi-fi">OBD MX Wi-Fi</a> - Interesting facts about the new On Board Diagnostics invention</li>
<li><a href="/articles/minneapolis-mobile-mechanics">Minneapolis Mobile Mechanics</a> - Who are the 2 best mobile Mechanics in Minneapolis MN?</li>
<li><a href="/articles/st-paul-mobile-mechanics">St Paul Mobile Mechanics</a> - Find the 2 best mobile mechanics in St Paul Minnesota</li>
<li><a href="/articles/apple-valley-mobile-mechanics">Apple Valley Mobile Mechanics</a> - Looking for the ASE certified mobile mechanics in Apple Valley MN?</li>
<li><a href="/articles/farmington-mn-mechanic">Farmington MN Mechanic</a> - Find mobile mechanics in Farmington MN!</li>
<li><a href="/articles/car-restoration-los-angeles-new-york">Car Restoration Los Angeles And New York</a> - If your in classic car needs restorations in LA or New York read this!</li>
<li><a href="/articles/minnesota-classic-car-restoration">Minnesota Classic Car Restoration</a> - Looking for the best mechanics for restoration jobs in Minnesota?</li>
</ul> 