<div class="more-info grow-business">
    <div class="group">
        <div class="info-pagelinks">
            <div class="link-container"><a href="/customer/info/howItWorks">How It Works</a></div>
            <div class="link-container"><a href="/customer/info/benefits">Customer Benefits</a></div>            
            <div class="link-container"><a href="/customer/info/protection">You're Protected</a></div>
            <div class="link-container green"><a href="/signup">Get Started</a></div>
        </div>

        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="page-title"><h1>Customer Benefits</h1></div>
        <div class="spacer"></div>

        <h3>Simple System</h3>
        <div class="spacer small"></div>
        <p>MechFinder is a one-stop shop for all your vehicle needs. We have mechanics who can do almost any job on any vehicle. There is no longer a need to take your time calling shops and comparing prices.</p>
        <div class="spacer small"></div>
        <p>Leave the complicated work to the mechanics. With MechFinder, you simply post your job and then let the system take it from there. We will instantly notify mechanics in your area about your job so that they may start placing estimates. As estimates come in you can easily compare prices, mechanic ratings, experience, certifications and more to find the perfect mechanic for your job.</p>
        <div class="spacer small"></div>
        <p>Since many of our mechanics are mobile, you can have them come to your car whether at home or the office. No need for you to get a tow-truck, or take extra time out of your schedule to wait at a shop.</p>
        <div class="spacer"></div>

        <h3>Save Money</h3>
        <div class="spacer small"></div>
        <p>Save money on repairs and parts, remove the need for a tow truck, and never miss work for a repair. With MechFinder, mechanics and shops are competing for your business. Not only do you get competitive estimates from shops, but now you also have the ability to work directly with a mechanic and remove the overhead of a shop.</p>
        <div class="spacer small"></div>
        <p>How much can you save by going direct? The average shop charges $80-$140 an hour for a mechanic, but most mechanics only make $18 an hour. That’s a lot of money you could be saving. To make it even better, most of these are mobile mechanics who can come directly to you for the repair.</p>
        <div class="spacer small"></div>
        <p>Example: You took your car in for an oil change and the shop said you needed $400 of additional repairs. $200 for 2 hours of labor and $200 for parts. You decide to post the repairs to MechFinder for more estimates and you find a mobile mechanic for $30 an hour with great experience and ratings. Now your total is $260 and he comes to you for the repair. You saved $140 (35%) and your mechanic made more than he would have at a shop. Everyone wins!</p>
        <div class="spacer"></div>

        <h3>You're In Control</h3>
        <div class="spacer small"></div>
        <p>Can you relate to this: You went in for an oil change and once the car is done the guy at the front desk tells you that you need another $500 in repairs. You have this knot in your stomach because you have to make the decision between paying for repairs you may not need right now, or possibly having your car break down and it costing more.</p>
        <div class="spacer small"></div>
        <p>Say goodbye to all of that. Not only do you receive multiple estimates from multiple mechanics, but now you can message mechanics directly and have your questions answered. These are actual mechanics trying to earn your business, not a front-desk salesman who makes a commission by upselling you.
If you choose a mobile mechanic for the repair, you now have a personal mechanic who will treat your car like his own. You can watch him make the repairs and ask maintenance questions to prevent future problems.</p>
        <div class="spacer small"></div>
        <p>If you’re getting a diagnosis you can immediately see what mechanics charge and if they waive the fee if hired for the job. Once the diagnosis is made you can talk to the mechanic directly to see what repairs need completed immediately and what can wait. To make this even better, once you have the diagnosis you have the option of opening it up to all MechFinder mechanics for more estimates on the repairs.</p>
        <div class="spacer small"></div>
        <p>Finally, thanks to our escrow system, you’re in control of payments. No mechanic or shop is paid up front. They are only paid once you are satisfied and release the payment to them.</p>
        <div class="spacer"></div>

        <h3>Happiness Guaranteed</h3>
        <div class="spacer small"></div>
        <p>No auto repair company can make it without gaining the trust and satisfaction from its customers. Word of mouth is often the most common form of advertisement, and we want to do everything we can to make that ‘word’ positive!</p>
        <div class="spacer small"></div>
        <div class="list-wrapper">
            <ul>
                <li>Risk Free: It’s free to post a job. You’ll never be charged unless you find a mechanic and price you’re happy with.</li>
                <li>No mechanic is paid until you are satisfied with the job</li>
                <li>All mechanics must offer a minimum of a 90 day warranty</li>
                <li>You receive all manufacturer warranties on parts</li>
                <li>If there is a challenge between you and the mechanic, MechFinder will help solve the problem.</li>
            </ul>
        </div>
    </div>
</div>
