<!DOCTYPE html>
<html>
    <head>
	    {{>layouts/head}}

        <script type="text/javascript" language="javascript" src="{{settings.static_path}}/js/contact.js"></script>
    </head>

    <body draggable="true" dragstart="">
        {{>layouts/navbar}}

        <div class="contact mf-ui">
            <div class="grouping gray-grouping">
                <div class="page-heading"><h1>Contact Us</h1></div>
            </div>

            <div class="grouping gray-grouping">
                <div class="section">
                    <div class="section-formbox contact-formbox">
                        <div class="contact-us">
                            <div class="contact-box">
                                <label>First Name</label>
                                <input class="mf-input" id="contactFirst" type="text" placeholder="First Name" />
                            </div>

                            <div class="contact-box">
                                <label>Last Name</label>
                                <input id="contactLast" type="text" placeholder="Last Name" />
                            </div>

                            <div class="contact-box email-box">
                                <label>Email</label>
                                <input id="contactEmail" type="email" placeholder="Email" />
                            </div>

                            <div class="formbox-spacer"></div>

                            <div class="contact-box whole-row">
                                <label>Subject</label>
                                <input id="contactSubject" type="text" placeholder="Subject" />
                            </div>

                            <div class="contact-box whole-row">
                                <label>Topic</label>
                                <select id="contactTopic">
                                    <option>General</option>
                                    <option>Questions About Products</option>
                                    <option>Talk About Partnership</option>
                                    <option>Found a Bug</option>
                                    <option>Other</option>
                                </select>
                            </div>

                            <div class="contact-box whole-row">
                                <label>Message</label>
                                <textarea class="mf-textarea" id="contactMessage" placeholder="Please let us know if you have any questions or comments here"></textarea>
                            </div>

                            <div class="formbox-spacer"></div>

                            <div class="formbox-buttons">
                                <label id="contactStatus">&nbsp;</label>                                
                                <a class="mf-button" href="/">Cancel</a>
                                <a class="mf-button action" id="contactSubmit" href="javascript:void(0);">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-spacer"></div>
            </div>
        </div>

        {{>layouts/footer}}
        {{>layouts/analytics}}
    </body>
</html>
