<div class="more-info">
    <div class="group">
        <div class="info-pagelinks">
            <div class="link-container"><a href="/customer/info/howItWorks">How It Works</a></div>
            <div class="link-container"><a href="/customer/info/benefits">Customer Benefits</a></div>            
            <div class="link-container"><a href="/customer/info/protection">You're Protected</a></div>
            <div class="link-container green"><a href="/signup">Get Started</a></div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="page-title"><h1>You're Protected</h1></div>
        <div class="spacer"></div>

        <h3>Secure Payment</h3>
        <div class="spacer small"></div>
        <p>MechFinder has partnered with BrainTree, one of the nation’s top providers in merchant services and credit card processing. If and when payment information is inputted on the website, even MechFinder won’t have access to this information.</p>
        <div class="spacer small"></div>
        <p>In addition, all payments are processed through a BrainTree escrow account, at no additional cost to the customer. This money is held in the escrow account until the mechanic has made the repairs and you submit the job as being completed. Only then will the mechanic receive their payment. (For more information on our escrow service, visit the “Customer Benefits” section to learn more)</p>
        <div class="spacer"></div>

        <h3>Your Privacy</h3>
        <div class="spacer small"></div>
        <p>Your privacy is always important to us. Whenever you see this symbol (?) on a page you can click it to see exactly what that information is used for and if it will ever be made available to another user.</p>
        <div class="spacer small"></div>
        <p>As mentioned in the previous section, all payment &amp; banking information will be kept 100% confidential in BrainTree.</p>
        <div class="spacer small"></div>
        <p>In addition to payments, no other user will be able to see your personal information, unless it is required to complete a repair. For example, other users will only see your username when using the site. Then once you hire a mechanic you will both be able to see each other’s first name and contact information. You may choose to reveal your phone number, email address, or both to your selected mechanic.</p>
        <div class="spacer"></div>
    </div>
</div>
