<div class="more-info grow-business">
    <div class="group">
        <div class="info-pagelinks">
            <div class="link-container"><a href="/mechanic/info/grow">Grow Your Business</a></div>
            <div class="link-container"><a href="/mechanic/info/howItWorks">How It Works</a></div>            
            <div class="link-container"><a href="/mechanic/info/structure">Fee Structure</a></div>
            <div class="link-container green"><a href="/signup">Get Started</a></div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="page-title"><h1>Fee Structure</h1></div>
        <div class="spacer"></div>
        

        <p>We have done everything we could to keep our fees as low as possible, while still offering a great service for both mechanics and customers. When using MechFinder, we are covering the credit card and/or escrow fees, website updates, marketing, insurance, and much more.</p>
        <span class="spacer small"></span>

        <p>We will also be offering bonuses and rewards for mechanics who are best taking care of their customers. Examples Include: 15% off auto supply stores, reduced transaction fees, annual bonuses, reduced phone and gas prices, and more to come.</p>
        <span class="spacer small"></span>

        <p>As we move forward, this structure may change to keep up with new demands or requirements of MechFinder. As a mechanic, you will always be notified of any changes.</p>
        <span class="spacer small"></span>

        <h2>Fee breakdowns: </h2>
        <div class="table-container">
            <div class="title">New Mechanics</div>
            <table class="fee-table">
                <tr class="header">
                    <td class="primary">Role</td><td>Site Fee</td>
                </tr>
                <tr>
                    <td class="primary">Mechanic:</td><td>10%</td>
                </tr>
                <tr>
                    <td class="primary">Customer:</td><td>10%</td>
                </tr>
                {{!-- Leaving this here so we can use it again in the future
                <tr>
                    <td class="primary">Project over $800:</td><td>18%</td>
                </tr>
                <tr>
                    <td class="primary">Diagnosis:</td><td>15%</td>
                </tr>
                --}}
            </table>
            <div class="bottom"></div>
        </div>
        <span class="spacer small"></span>
        {{!--
        <div class="table-container">
            <div class="title green">Promotional*: Founder</div>
            <div class="detail-header">Requirements:</div>
            <div class="detail"><i class="fa fa-check"></i> Maintain a 4-star rating or better on your first 5 jobs<br/><div class="indent"> - Diagnosis will count towards your 5 (Max of 2)</div></div> 
            <div class="detail-header">Benefits:</div>
            <div class="detail"><i class="fa fa-arrow-down fa-fw"></i> 2.5% Lower MechFinder Fee<br/><i class="fa fa-bolt fa-fw"></i> Expedited MechFinder Support</div>
            <div class="detail-header">Fee Breakdown:</div>
            <table class="fee-table">
                <tr class="header">
                    <td class="primary">Role</td><td>Site Fee</td>
                </tr>
                <tr>
                    <td class="primary">Mechanic:</td><td>7.5%</td>
                </tr>
                <tr>
                    <td class="primary">Customer:</td><td>10%</td>
                </tr>
            </table>
            <div class="bottom green"><div class="text">*This offer is only available to those mechanics who join within the first 60 days of MechFinder launching in a new city. It’s a small way for us to say thank-you for helping us build a strong image by showing we have great mechanics! <strong><em>This discount will last for the life of your profile.</em></strong></div></div>
        </div>
        <span class="spacer small"></span>
        --}}
    </div>
</div>
