<div class="more-info grow-business">
    <div class="group">
        <div class="info-pagelinks">
            <div class="link-container"><a href="/mechanic/info/grow">Grow Your Business</a></div>
            <div class="link-container"><a href="/mechanic/info/howItWorks">How It Works</a></div>            
            <div class="link-container"><a href="/mechanic/info/structure">Fee Structure</a></div>
            <div class="link-container green"><a href="/signup">Get Started</a></div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="page-title"><h1>Grow Your Business</h1></div>
        <div class="spacer"></div>

        <h3>Using MechFinder to Grow Your Business</h3>
        <div class="spacer small"></div>
        <p>For tips on growing your specific business, refer to our Training Guide to teach you how to make MechFinder work for you.</p>
        <div class="spacer"></div>

        <h4>Benefits for a Shop: </h4>
        <div class="spacer small"></div>
        <div class="list-wrapper">
            <ul>
                <li>MechFinder is one of the few places where you pay no up front costs for marketing. You will never owe us anything if you don’t get customers.</li>
                <li>We need Shops on MechFinder for those customers looking for the additional reliability and quality when it comes to their repairs. We also need shops for major jobs that require equipment that a mobile mechanic can’t provide.</li>
                <li>One of the best benefits to a shop, is that often times our users come to MechFinder already knowing what needs done. You can skip the oil changes and go directly to the larger repairs.</li>
                <li>By joining MechFinder, you will be on the front lines as technology moves the auto repair industry forward. Stay in front of your competition, and create more business for your shop by joining MechFinder today.</li>
            </ul>
        </div>
        <div class="spacer"></div>

        <h4>Benefits for Mechanics: </h4>
        <div class="spacer small"></div>
        <div class="list-wrapper">
            <ul>
                <li>As a mechanic, you can use MechFinder to make extra cash in your free time, or use it to create a full-time income.</li>
                <li>With MechFinder you are able to choose your pay rate, your hours, and how you want to run your business. As you start building your reviews and ratings then you will be able to get more jobs while charging a higher rate. MechFinder will often offer rewards and bonuses for maintaining high ratings.</li>
                <li>When creating MechFinder, we knew that in order for our website to be successful, we needed to give individual mechanics the ability to make a full-time income if that is what you wanted to do.</li>
                <li>We believe we have done exactly that. Without the overhead of a shop, you can both save a customer money, and make more money than you would working at a full-time job. While there is a lot of potential, you have to remember that you are now fully responsible for assuring your job gets done right. If you feel this is for you, join MechFinder free of charge and test the site for yourself.</li>
                <li>We hope we have given you everything you need to make a great income as a mechanic. If there is anything we can do to make this a better process for you, don’t hesitate to reach out to us with any comments or suggestions. You can reach us through the <a href="/contact">Contact Us</a> page.</li>
            </ul>
        </div>
    </div>
</div>
