<div class="more-info grow-business">
    <div class="group"> 
        <div class="info-pagelinks">
            <div class="link-container"><a href="/customer/info/howItWorks">How It Works</a></div>
            <div class="link-container"><a href="/customer/info/benefits">Customer Benefits</a></div>            
            <div class="link-container"><a href="/customer/info/protection">You're Protected</a></div>
            <div class="link-container green"><a href="/signup">Get Started</a></div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="page-title"><h1>How MechFinder Works</h1></div>
        <div class="spacer"></div>

        <h3>Getting a Repair</h3>
        <div class="spacer small"></div>
        <p>Get your car fixed, painted, restored, diagnosed, and much more, by following the steps below (be ready to save a lot of time and money with this process as well).</p>
        <div class="spacer small"></div>
        <div class="list-wrapper">
            <ol>
                <li><strong>Post a job:</strong> Tell mechanics what’s wrong with the vehicle. Once the job is posted we will notify local mechanics in your area who do that type of service. You will start receiving estimates from these mechanics in as little as 15 minutes.</li>
                <li><strong>Select Mechanic:</strong> As you start receiving estimates you can easily begin comparing prices, mechanic experience, ratings, warranties, and more. Once you find a mechanic and price that you are happy with, simply click hire. Once hired, you will receive the mechanics contact information and can plan a time and place to complete the repair. Here you will pay the estimate price and the money will go into an escrow account (escrow information below).</li>
                <li><strong>Repairs:</strong> With the money in escrow, the mechanic knows he is now safe to go buy the parts needed for your job. Meet with your mechanic and complete your job. Only when the job is completed and you are satisfied will you submit the job as complete. Now the money will be transferred from escrow to your mechanic.</li>
                <li><strong>Rate:</strong> These ratings are important for helping keep great mechanics on the site. If you had a bad experience share it, and if you had a great experience it will really help the mechanic to receive that positive review.</li>
            </ol>
        </div>
        <div class="spacer small"></div>
        <p><strong>Note:</strong> You can always find your repair records for each of your vehicles on your dashboard. Easily track maintenance to avoid those costly repairs, and track repair records for when it’s time to sell your vehicle.</p>
        <div class="spacer"></div>

        <h3>Getting a Diagnosis</h3>
        <div class="spacer small"></div>
        <p>To give you the best service possible, there is a lot that MechFinder and mechanics do for a diagnosis to make this a great experience for you. Below is the full list of details, but you don’t need to memorize any of this. The website and mechanics will guide you through everything as you move forward.</p>
        <div class="spacer small"></div>
        <p>Asking for a diagnosis takes very little effort on your end. Simply tell the mechanics what car it is and that you need a diagnosis. The job will go live within five minutes of hitting submit. We will instantly notify mechanics in your area. For those who offer to do the diagnosis, you will be able to see their diagnosis fee, and if the fee is waived if they are hired for the job. (Fees range from about $25 to $75)</p>
        <div class="spacer small"></div>
        <p>Once a mechanic is hired, the diagnosis fee will go into escrow. Get in touch with your chosen mechanic to find a time and place to get the diagnosis.</p>
        <div class="spacer small"></div>
        <p>After completing the diagnosis, the mechanic must fill out a MechFinder diagnosis sheet which will show what’s wrong with the car. Then you have three options:</p>
        <div class="spacer small"></div>
        <div class="list-wrapper">
            <ul>
                <li>Hire the same mechanic for the repair</li>
                <li>Decide not to do the repairs</li>
                <li>Instantly submit the diagnosis to MechFinder for other mechanics to give estimates on</li>
            </ul>
        </div>
        <div class="spacer small"></div>
        <p>If you decide to open it up to other mechanics, your job will then flow as described in the “Getting a Repair” section above.</p>
        <div class="spacer"></div>

        <h3>Our Escrow System</h3>
        <div class="spacer small"></div>
        <p>The escrow system is a huge benefit to you as a customer. It makes sure you and your repairs are safe and secure throughout the whole process. All payments for repairs on MechFinder.com are automatically placed in an escrow account.</p>
        <div class="spacer small"></div>
        <p>When you hire a mechanic you pay the estimate or diagnosis price. The money goes into your escrow account which locks in the price that a mechanic gives you for an estimate. It also lets the mechanic know that the money is available to go ahead and buy parts for your vehicle.</p>
        <div class="spacer small"></div>
        <p>This money remains securely in escrow until the job is complete and you are satisfied with the repair. The money is not released to the mechanic until you submit the job as being complete.</p>
        <div class="spacer"></div>
    </div>
</div>
