<div class="more-info grow-business">
    <div class="group">
        <div class="info-pagelinks">
            <div class="link-container"><a href="/mechanic/info/grow">Grow Your Business</a></div>
            <div class="link-container"><a href="/mechanic/info/howItWorks">How It Works</a></div>            
            <div class="link-container"><a href="/mechanic/info/structure">Fee Structure</a></div>
            <div class="link-container green"><a href="/signup">Get Started</a></div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="page-title"><h1>How It Works</h1></div>
        <div class="spacer"></div>

        <p>Below is a brief description on how easy it is to use MechFinder.com. For tips and advice on how you grow your business quicker, or on how to use MechFinder to best suite your needs, visit our mechanic Training Guide.</p>
        <div class="spacer small"></div>

        <div class="list-wrapper">
            <ul>
                <li><strong>Create your mechanic profile:</strong> Take the time to fill out these details so you can more easily sell yourself to potential customers.</li>
                <li><strong>Search for jobs:</strong> Find jobs in your area that you know you can handle. Offer to do a diagnosis or place an estimate on as many jobs as you want.</li>
                <li><strong>Do the repair:</strong> If a customer likes your estimate and experience then they will hire you for their job. Connect with the customer who hired you and find a time and place to complete the repair. Then simply do what you do best, and get the customer safely back on the road.</li>
                <li><strong>Get Paid:</strong> Once the repair is done and the customer is satisfied, you will be paid based on the estimate you provided. Here you and the customer have the ability to rate each other and write a review.</li>
                <li><strong>Tip:</strong> The higher your overall rating, the higher you will show up when a customer is searching for a mechanic.</li>
            </ul>
        </div>

        <div class="spacer"></div>
    </div>
</div>
