<p>User #{{started}} ({{startedUsername}}) has requested a resolution. Log into the dashboard with this support email and check out your chat inbox to view/resolve your dispute messages.</p>

<p>The dispute involves the following participants: </p>

<ul>
    {{#each involving}}
        <li>{{this}}</li>
    {{/each}}
</ul>
