<script id="delete-modal" type="text/x-handlebars-template">
    <div id="delete-modal">
        <h3>Sure you want to delete this from favorites?</h3>
        <hr>
        <button type="submit" class="delete-entry standard-button green">Delete it</button>
    </div>
</script>
