<!DOCTYPE html>
<html>
    <head>
        {{>layouts/head}}
    </head>
    <body>
        {{>layouts/navbar}}

        <div class="main-home-page">
            <div class="home-container mechanic-home-container">
                <div class="mf-slider mechanic-image">
                    {{!--
                    <div class="mf-slide-info">
                        <div class="slide-info-centered">
                            <div class="black-strip">Mechanics: Earn Extra Cash or a Full-Time Income</div>
                            <div class="white-strip">
                                <div class="white-left">Thousands of customers use MechFinder to find mechanics.<br /><span class="red-text">Will they Find You?</span></div>
                                <div class="white-right"><a href="/signup">Sign Up to Get Started</a></div>
                            </div>
                        </div>
                    </div>
                    --}}
                </div>
                <div class="slide-overlay mechanic">

                        <div class="box mechanic">
                            <div class="underline">Thousands of Customers Use Mechfinder to Find Mechanics</div>
                            <div class="red">Will They Find You?</div>
                            <div><a href="/signup" class="standard-button green">Get Started</a></div>
                        </div>

                </div>

                <div class="group gray">
                    <div class="centered">
                        <div class="inside">
                            <div class="spacer"></div>
                            <div class="seperator-title"><h1><span class="line">Mechanic Benefits</span></h1></div>
                            <div class="spacer"></div>

                            <div class="benefits">
                                <div class="benefit thirds">
                                    <div class="icon"><img src="{{settings.static_path}}/img/save-money.png" alt="make more money" title="Make More Money" /></div>
                                    <div class="title">Make More Money</div>
                                    <div class="text">Enjoy the opportunities that come with running your own business. You choose your hourly rate and how often you work.</div>
                                    <div class="text"><em><a href="/mechanic/info/grow">More Info</a></em></div>
                                </div>
                                <div class="benefit thirds">
                                    <div class="icon"><img src="{{settings.static_path}}/img/save-time.png" alt="save time" title="Save Time" /></div>
                                    <div class="title">Save Time</div>
                                    <div class="text">Find and book appointments online. We do the marketing, you take care of the customers!</div>
                                    <div class="text"><em><a href="/mechanic/info/howItWorks">More Info</a></em></div>
                                </div>
                                <div class="benefit thirds">
                                    <div class="icon"><img src="{{settings.static_path}}/img/youre-in-control.png" alt="free to join" title="Free to Join" /></div>
                                    <div class="title">Free to Join</div>
                                    <div class="text">MechFinder is only as good as our mechanics. Join for free and search of open projects near you.</div>
                                    <div class="text"><em><a href="/mechanic/info/structure">More Info</a></em></div>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div class="more-details"><a href="/mechanic/info/grow">Learn More About All of the Mechanic Benefits</a></div>
                            <div class="spacer"></div>

                            {{!--
                            <div class="seperator-title"><h1><span class="line">Everyone Wins</span></h1></div>
                            <div class="spacer"></div>
                            <div class="testimonial">
                                <div class="testimonial-picture"><img src="{{settings.static_path}}/img/featured-testimonial-circle.png" /></div>
                                <div class="testimonial-quote">
                                    <div class="testimonial-text"><span class="quotation">&ldquo;</span>MechFinder finally gave me the opportunity to begin working for myself in this industry. It was easy to get started, and I was able to find work right away at my own price. Very happy with it!<span class="quotation">&rdquo;</span></div>
                                    <div class="testimonial-person">
                                        <div class="testimonial-name">TJ Jackson</div>
                                        <div class="testimonial-location">Scottsdale, Arizona</div>
                                    </div>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            --}}
                        </div>
                    </div>
                </div>

                <div class="group">
                    <div class="centered">
                        <div class="inside">
                            <div class="spacer"></div>
                            <div class="seperator-title"><h1><span class="line">How It Works</span></h1></div>
                            <div class="spacer"></div>

                            <div class="how-it-works">
                                <div class="steps">
                                    <div class="step-row">
                                        <div class="step-col">
                                            <div class="step-icon create-profile"></div>
                                            <div class="step-info">
                                                <div class="step-heading">1. Create Profile</div>
                                                <div class="step-text">Show of your experience and specialties to potential customers</div>
                                            </div>
                                        </div>
                                        <div class="step-col">
                                            <div class="step-icon search-projects"></div>
                                            <div class="step-info">
                                                <div class="step-heading">2. Search for Jobs</div>
                                                <div class="step-text">Place estimates on on those you'd want to work on</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step-row">
                                        <div class="step-col">
                                            <div class="step-icon repair"></div>
                                            <div class="step-info">
                                                <div class="step-heading">3. Do Repair</div>
                                                <div class="step-text">You don't need us to explain this part!</div>
                                            </div>
                                        </div>
                                        <div class="step-col">
                                            <div class="step-icon stress-free-payouts"></div>
                                            <div class="step-info">
                                                <div class="step-heading">4. Get Paid</div>
                                                <div class="step-text">You're often a life-saver<br/> You earned it</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="more-details"><a href="/mechanic/info/howItWorks">Learn Full Details On How MechFinder.com Works for Mechanics</a></div>
                            </div>
                            <div class="spacer"></div>
                        </div>
                    </div>
                </div>

                <div class="group gray">
                    <div class="centered">
                        <div class="inside">
                            <div class="spacer"></div>
                            <div class="seperator-title"><h1><span class="line">What's Expected</span></h1></div>
                            <div class="spacer"></div>

                            <div class="mechanic-requirements">
                                <div class="info">
                                    <div class="req-heading"><i class="fa fa-check-square-o fa-fw"></i> Capable:</div><div class="req-details">Able to provide accurate estimates, and able to complete all jobs you apply for.<br/> - Includes having the right tools for the job</div><br/>
                                    <div class="req-heading"><i class="fa fa-check-square-o fa-fw"></i> Self-Reliant:</div><div class="req-details">Able to schedule appointments and maintain communication with customers.</div><br/>
                                    <div class="req-heading"><i class="fa fa-check-square-o fa-fw"></i> Responsible:</div><div class="req-details">Uphold any warranties or guarantees you offer.</div><br/>
                                </div>
                                <div class="get-started"><a class="standard-button green wide border" href="/signup">Sign Up to Get Started (Mechanic)</a></div>
                            </div>

                            <span class="spacer"></span>
                        </div>
                    </div>
                </div>

                <div class="group">
                    <div class="centered">
                        <div class="inside">
                            <div class="spacer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>layouts/footer}} {{>layouts/analytics}}
    </body>
</html>
