<p>Congratulations.. the auto industry revolution starts here!…</p>
<p>Thank you for joining Mechfinder.com. How can Mechfinder.com save you thousands of dollars by going direct?</p>
<p>Mechfinder.com allows you the buyer/customer to get estimates/bids from mechanics working from home. This allows you to go direct and save tons of money. Mechfinder.com can help you whether you need a simple oil change done to needing your vehicle towed. Mechfinder can be that medium to help you with any vehicle related service by going direct! The best part about the Mechfinder network is it’s 100% free!</p>
<p>Top 5 reason to use Mechfinder.com</p>
<ol>
<li>Save thousands off vehicle repairs by going direct!</li>
<li>Get estimates instantly from multiple mechanics</li>
<li>Chat live with mechanics for free</li>
<li>Get help with any related vehicle issue anywhere in the world instantly free</li>
<li>Add/chat with your family and friends on Mechfinder.com</li>
</ol>

<p><strong>How to get started!</strong></p>
<p>As soon as you sign up with Mechfinder.com you will automatically post a job up if you didn't click the skip button.</p>
<p><strong>Step 1.</strong></p>
<p>Simply click the My Jobs  tab then click Open Jobs. You will see how many bids you’ve got for your 1st job. You can then select a mechanic, chat live or exchange phone numbers/email addresses with the mechanic. All this is 100% free. </p>
<p><strong>Step 2.</strong></p>
<p>After you select a mechanic, you will then need to click the green schedule meet up  button in the job page to schedule a time to meet up with the mechanic. Once you have this scheduled, your Mechfinder calendar will then be updated automatically with a black corner to show you when your meeting is with the mechanic/business.</p>
<p><strong>Step 3.</strong></p>
<p>Once the mechanic is finished with your vehicle please click the yellow mark job finished button on the job page of your job. To give the mechanic ratings so other buyers will see how good of a job they did for you. Ratings a very important in Mechfinder please be as honest as possible. </p>
<p>If you have any questions or feedback about Mechfinder.com please call customer service at </p>
<p>480-433-2878 Mobile Cell / Text 24/7 </p>
