<p>Congratulations.. the auto industry revolution starts here!</p>
<p>Thank you for joining Mechfinder.com. How can Mechfinder boost your business?</p>
<p>Mechfinder.com allows you the mechanic/business to bid on local vehicle repair jobs, towing needs, anything related to the vehicle service industry from home. This way you can go direct to the customer. We also refer you business by calling you and emailing you. This is all 100% free!
Mechfinder allows you to</p>
<ul>
<li>Make More Money</li>
<li>Find More Business</li>
<li>Utilize Mechfinder As A Hiring Tool  “Mechanics Can Post Jobs As Well!”</li>
</ul>
<p>Just as fast as your business grows you can grow with it by posting a job on Mechfinder. This way you can get help with vehicle related jobs that you never thought were possible to fix.</p>
<p><strong>Common Questions</strong></p>
<p><strong>What if I’m not a certified mechanic can I still use Mechfinder?</strong></p>
<p>Of course! We want all experts from students learning about mechanics to the neighbor who loves working on cars for his friends to use Mechfinder. We at Mechfinder want you to find more business so you can continue to do what you love!</p>
<p><strong>Does Mechfinder cost money?</strong></p>
<p>No! Mechfinder is 100% free so we are small business friendly. So you can exchange emails, phone numbers, and chat live with customers all for free with no filters. We rely on you to spread the word about our amazing new network. </p>
<p>If the customer chooses to use our secure escrow system we take out 6% of the total funds escrowed. If the customer chooses to escrow the funds Mechfinder can direct deposit the funds the next business day in your bank account all we need is an account number and routing number and name on the account. We can also mail you a check as well. You can set this up if you click the “direct deposit” link at the top of your home page or go into your deposit page on the left side menu. </p>
<p><strong>What does the Mechfinder calendar do?</strong></p>
<p>In the top right corner of the screen on all pages of your Mechfinder account you can use our free calendar to write down notes and it will auto keep track of any jobs you have been assigned to or have done. This way you can stay even more organized.</p>
