<p> <a href="http://mechfinder.com/profile/{{user._id}}">{{user.name}}</a> </p>
<p>Has Bid {{currency bid.estimate}} </p>
<p>Project {{project.number}} </p>
<p>Log In Your Account</p>
<p>To Select Them!</p>
