<p>Remember To Rate The Mechanics. When The Job Is Done</p>
<p>Login Into Your Account Click My Projects Then The Project {{p.number}}
<p>Then Simply Click The Yellow Button Rate Mechanic Thank You! </p>
<p>
	<a href="http://mechfinder.com/projects/{{p.number}}">View your project on Mechfinder.com!</a>
</p>
