<select id="{{id}}" name="{{#if name}}{{name}}{{else}}{{to_input_name id}}{{/if}}">
    <option value=""  >(closed)</option>
    <option value="0"  {{#compare val to='0' }}selected='true'{{/compare}}>12:00 AM</option>
    <option value="1"  {{#compare val to='1' }}selected='true'{{/compare}}>01:00 AM</option>
    <option value="2"  {{#compare val to='2' }}selected='true'{{/compare}}>02:00 AM</option>
    <option value="3"  {{#compare val to='3' }}selected='true'{{/compare}}>03:00 AM</option>
    <option value="4"  {{#compare val to='4' }}selected='true'{{/compare}}>04:00 AM</option>
    <option value="5"  {{#compare val to='5' }}selected='true'{{/compare}}>05:00 AM</option>
    <option value="6"  {{#compare val to='6' }}selected='true'{{/compare}}>06:00 AM</option>
    <option value="7"  {{#compare val to='7' }}selected='true'{{/compare}}>07:00 AM</option>
    <option value="8"  {{#compare val to='8' }}selected='true'{{/compare}}>08:00 AM</option>
    <option value="9"  {{#compare val to='9' }}selected='true'{{/compare}}>09:00 AM</option>
    <option value="10" {{#compare val to='10'}}selected='true'{{/compare}}>10:00 AM</option>
    <option value="11" {{#compare val to='11'}}selected='true'{{/compare}}>11:00 AM</option>
    <option value="12" {{#compare val to='12'}}selected='true'{{/compare}}>12:00 PM</option>
    <option value="13" {{#compare val to='13'}}selected='true'{{/compare}}>01:00 PM</option>
    <option value="14" {{#compare val to='14'}}selected='true'{{/compare}}>02:00 PM</option>
    <option value="15" {{#compare val to='15'}}selected='true'{{/compare}}>03:00 PM</option>
    <option value="16" {{#compare val to='16'}}selected='true'{{/compare}}>04:00 PM</option>
    <option value="17" {{#compare val to='17'}}selected='true'{{/compare}}>05:00 PM</option>
    <option value="18" {{#compare val to='18'}}selected='true'{{/compare}}>06:00 PM</option>
    <option value="19" {{#compare val to='19'}}selected='true'{{/compare}}>07:00 PM</option>
    <option value="20" {{#compare val to='20'}}selected='true'{{/compare}}>08:00 PM</option>
    <option value="21" {{#compare val to='21'}}selected='true'{{/compare}}>09:00 PM</option>
    <option value="22" {{#compare val to='22'}}selected='true'{{/compare}}>10:00 PM</option>
    <option value="23" {{#compare val to='23'}}selected='true'{{/compare}}>11:00 PM</option>
    <option value="24" {{#compare val to='24'}}selected='true'{{/compare}}>12:00 PM</option>
</select>