<button class="btn btn-mini btn-success btn-chat"
        data-user-id="{{id}}"
        data-name="{{name}}"
        {{#if picture}}data-picture="{{picture}}"{{/if}}
><i class="icon icon-comment"></i>{{#unless icononly}} Chat Now{{/unless}}</button>